** {
  border: none;
  border-radius: 0;
  font-family: Inconsolata Nerd Font;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(25, 23, 36, 0.95);
  color: #e0def4;
}

#window {
  background: none;
  color: #908caa;
  padding: 10px 0;
}

#workspaces button {
  padding: 0 15px;
  background: transparent;
  color: #e0def4;
  border-bottom: 3px solid transparent;
}

#workspaces button.hover {
  border-bottom: 3px solid #ebbcba;
}

#workspaces button.active {
  background: #908caa;
  color: #191724;
}

#clock,
#pulseaudio
{
  background-color: #908caa;
  color: #191724;
  padding: 0 25px;
}

#tray {
	background-color: transparent;
	padding: 0 15px;
}

/*
 * restart waybar
 * killall -SIGUSR2 waybar
 * */
